<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ 'sdl.name' | translate }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ 'sdl.exhibitor' | translate }}</h6>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">

  <div class="card">
    <div class="card-body">
      <div class="form-container" *ngIf="exhibitor.exhibitor">


        <div>
          <a (click)="goBack()" mat-stroked-button color="basic">go back</a><br><br><br>
        </div>

        <!-- Exhibitor ID (USI) -->
        <mat-form-field *ngIf="isSuperUser">
          <input matInput disabled placeholder="Exhibitor ID (USI)" [(ngModel)]="exhibitor.exhibitor.exh_id">
        </mat-form-field>

        <!-- Company Name -->
        <mat-form-field>
          <input matInput disabled placeholder="Company Name" [(ngModel)]="exhibitor.exhibitor.exh_account_name">
        </mat-form-field>

        <!-- Banner -->
        <mat-form-field>
          <input matInput disabled placeholder="Banner" [(ngModel)]="exhibitor.exhibitor.cat_banner">
        </mat-form-field>

        <!-- Booth -->
        <mat-form-field>
          <input matInput disabled placeholder="Booth" [(ngModel)]="exhibitor.exhibitor.exh_booth">
        </mat-form-field>

        <!-- Exhibitor Mail Contact -->
        <mat-form-field>
          <input matInput disabled placeholder="Mail of main contact" [(ngModel)]="exhibitor.exhibitor.exh_contact_mail">
        </mat-form-field>

        <!-- Exhibitor First Name Main Contact -->
        <mat-form-field>
          <input matInput disabled placeholder="Firstname of main contact" [(ngModel)]="exhibitor.exhibitor.exh_contact_first_name">
        </mat-form-field>

        <!-- Exhibitor First Name Main Contact -->
        <mat-form-field>
          <input matInput disabled placeholder="Lastname of main contact" [(ngModel)]="exhibitor.exhibitor.exh_contact_last_name">
        </mat-form-field>

        <!-- Address line 1 -->
        <mat-form-field>
          <input matInput disabled placeholder="Address line 1" [(ngModel)]="exhibitor.exhibitor.cat_address1">
        </mat-form-field>

        <!-- Address line 2 -->
        <mat-form-field>
          <input matInput disabled placeholder="Address line 2" [(ngModel)]="exhibitor.exhibitor.cat_address2">
        </mat-form-field>

        <!-- Address line 3 -->
        <mat-form-field>
          <input matInput disabled placeholder="Address line 3" [(ngModel)]="exhibitor.exhibitor.cat_address3">
        </mat-form-field>

        <!-- Post code -->
        <mat-form-field>
          <input matInput disabled placeholder="Post code" [(ngModel)]="exhibitor.exhibitor.cat_postal_code">
        </mat-form-field>

        <!-- City -->
        <mat-form-field>
          <input matInput disabled placeholder="City" [(ngModel)]="exhibitor.exhibitor.cat_city">
        </mat-form-field>

        <!-- State -->
        <mat-form-field>
          <input matInput disabled placeholder="State" [(ngModel)]="exhibitor.exhibitor.cat_state">
        </mat-form-field>

        <!-- Country -->
        <mat-form-field>
          <input matInput disabled placeholder="Country" [(ngModel)]="exhibitor.exhibitor.cat_country.cat_country_name">
        </mat-form-field>

        <!-- Phone number -->
        <mat-form-field>
          <input matInput disabled placeholder="Phone number" [(ngModel)]="exhibitor.exhibitor.cat_phone">
        </mat-form-field>

        <!-- Email -->
        <mat-form-field>
          <input matInput disabled placeholder="Email" [(ngModel)]="exhibitor.exhibitor.cat_email">
        </mat-form-field>

        <!-- Phone number -->
        <mat-form-field>
          <input matInput disabled placeholder="Phone number" [(ngModel)]="exhibitor.exhibitor.cat_phone">
        </mat-form-field>

        <!-- Fax number -->
        <mat-form-field>
          <input matInput disabled placeholder="Fax number" [(ngModel)]="exhibitor.exhibitor.cat_fax">
        </mat-form-field>

        <!-- email -->
        <mat-form-field>
          <input matInput disabled placeholder="Email" [(ngModel)]="exhibitor.exhibitor.cat_email">
        </mat-form-field>

        <!-- Website -->
        <mat-form-field>
          <input matInput disabled placeholder="Website" [(ngModel)]="exhibitor.exhibitor.cat_website">
        </mat-form-field>

        <!--P&S -->
        <mat-form-field>
          <mat-select placeholder="Product and Services" multiple disabled [(ngModel)]="selectedValue"> <!-- [formControl]="cat_psname" multiple selected="5" -->
            <mat-option *ngFor="let ps of exhibitor.exhibitor.cat_product_and_services" [value]="ps.id">{{ps.cat_psname}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!--Logo & Logo HD-->
        <h3>Logo</h3>
        <div>
          <img src="{{exhibitor.exhibitor.cat_logo}}" style="max-width:300px!important" alt="">
        </div>
        <div>
          <br>
          <a mat-stroked-button color="warn" href="{{exhibitor.exhibitor.cat_logo_hd}}" alt="">[Télécharger le logo au format HD]</a>
        </div>
        <br>


        <!-- Validation -> •	Statut, Visible par superUser uniquement -->
        <mat-form-field *ngIf="isSuperUser">
          <input matInput disabled placeholder="Validation" [(ngModel)]="exhibitor.exhibitor.exh_status.title">
        </mat-form-field>


        <div>
          <a (click)="goBack()" mat-stroked-button color="basic">go back</a>
          <a mat-raised-button color="primary" href="mailto:kevin.estalella@palexpo.ch">Effectuer une demande de changement</a> <!-- (click)="save()" -->
        </div>

      </div>
    </div>
  </div>
</div>
