<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ 'artgeneve.name' | translate }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ 'artgeneve.gallery' | translate }}</h6>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-body">

      <div class="form-container">

				<!-- Exhibitor -->
        <mat-form-field >
          <input matInput placeholder="Exhibitor *">
        </mat-form-field>

        <!-- Title -->
        <mat-form-field >
          <input matInput placeholder="Title *">
        </mat-form-field>

        <!-- Postal address -->
        <mat-form-field >
          <input matInput placeholder="Postal address">
        </mat-form-field>

        <!-- Post code -->
        <mat-form-field >
          <input matInput placeholder="Post code">
        </mat-form-field>

        <!-- City -->
        <mat-form-field >
          <input matInput placeholder="City">
        </mat-form-field>

        <!-- Country -->
        <mat-form-field >
          <input matInput placeholder="Country">
        </mat-form-field>

        <!-- Phone number -->
        <mat-form-field >
          <input matInput placeholder="Phone number">
        </mat-form-field>

        <!-- email -->
        <mat-form-field >
          <input matInput placeholder="email">
        </mat-form-field>

        <!-- Website -->
        <mat-form-field >
          <input matInput placeholder="Website">
        </mat-form-field>

        <!-- Status -->
        <mat-form-field >
          <input matInput placeholder="Status">
        </mat-form-field>
				
			</div>
		</div>
	</div>
</div>


