<div class="wrapper" [dir]="options.direction">
   <div class="app-sidebar" data-active-color="white" data-background-color="black" data-image="assets/img/sidebar-bg/03.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background"></div>
    </div>
    <app-navbar></app-navbar>
    <div class="main-panel">    
        <div class="main-content">
            <div class="content-wrapper">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>

<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    {{ 'catalogue.title' | translate }}
  </h1>
</div>
<p>{{ 'catalogue.hello' | translate:{'name':'Oscar'} }}</p>
 <button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('de')">de</button>
<button (click)="useLanguage('fr')">fr</button> 

<div id="subnav">
  <a routerLink="/dashboard">Home</a>
  <a routerLink="/artgeneve" routerLinkActive="active">Artgeneve</a>
  <a routerLink="/artmontecarlo" routerLinkActive="active">Artmontecarlo</a>
  <a routerLink="/admin" routerLinkActive="active">admin</a>
  
    <a routerLink="/exh-artgeneve">Exhibitor</a>
    <a routerLink="/art-represented">Represented artists</a>
    <a routerLink="/art-exhibited">Exhibited artists</a>
    <a routerLink="/artworks">Application Artworks</a>
    <a routerLink="/galeries">Gallery</a> 
</div>


<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 6!!</p>

<p><a [routerLink]="['/login']">Logout</a></p> -->