<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ 'artgeneve.name' | translate }}</h4>
      <h6 *ngIf="!isExhibited" class="card-subtitle mb-2 text-muted">{{ 'artgeneve.represented_artists' | translate }}</h6>
      <h6 *ngIf="isExhibited" class="card-subtitle mb-2 text-muted">{{ 'artgeneve.exhibited_artists' | translate }}</h6>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-body">

      <div class="form-container">

				<p>
				  artist-detail works!
				</p>
				
			</div>
		</div>
	</div>
</div>
