<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ 'artgeneve.name' | translate }}</h4>
      <h6 *ngIf="!isExhibited" class="card-subtitle mb-2 text-muted">{{ 'artgeneve.represented_artists' | translate }}</h6>
      <h6 *ngIf="isExhibited" class="card-subtitle mb-2 text-muted">{{ 'artgeneve.exhibited_artists' | translate }}</h6>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-body">

      <div class="form-container">

				<!-- Exhibitor -->
        <mat-form-field id="search-input">
            <input matInput placeholder="Exhibitor"
                   [(ngModel)]="artist.exhibitor" [matAutocomplete]="exhibitorsAutocomplete" [formControl]="exhibitorFormControl">
        </mat-form-field>

        <mat-autocomplete #exhibitorsAutocomplete="matAutocomplete" [displayWith]="displayExhibitor" (optionSelected)="setExhibitor($event)">
            <mat-option *ngFor="let exhibitor of filteredExhibitors"
                        [value]="exhibitor">
                {{exhibitor.cat_banner}}
            </mat-option>
        </mat-autocomplete>


        <!-- Artist First_name -->
        <mat-form-field>
          <input matInput placeholder="First name" [(ngModel)]="artist.first_name">
        </mat-form-field>

        <!-- Artist Last_name -->
        <mat-form-field >
          <input matInput placeholder="Last name" [(ngModel)]="artist.last_name">
        </mat-form-field>

        <!-- Artist solo show -->
        <div *ngIf="isExhibited" class="full-width">
          <mat-checkbox [(ngModel)]="artist.is_solo_show">Solo show</mat-checkbox>
        </div>

        <!-- Artist exhibited -->
        <div class="full-width">
          <mat-checkbox class="full-width" [(ngModel)]="artist.is_exhibited">Artist exhibited</mat-checkbox>
        </div>

        <!-- State -->
        <mat-form-field>
          <mat-select placeholder="Validation" [(ngModel)]="selectedValue" >
            <mat-option *ngFor="let state of states" [value]="state.id">
              {{state.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button (click)="goBack()">go back</button>
        <button (click)="save()">save</button>

			</div>
		</div>
	</div>
</div>
