<p>
  {{ 'artgeneve.application_artworks' | translate }}
</p>


<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>


<div class="example-container mat-elevation-z8">

  <div class="example-table-container">

    <button routerLink="../artworks/add/" type="button" class="btn btn-info">ajouter</button>

    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->


      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="org_code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Titre </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="exh_booth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Année </th>
        <td mat-cell *matCellDef="let element"> {{element.year}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="exh_id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Technique </th>
        <td mat-cell *matCellDef="let element"> {{element.technique}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Supprimer </th>
        <td mat-cell *matCellDef="let element"> <button (click)="deleteArtwork(element)" type="button" class="btn btn-danger">Supprimer {{element.id}}</button> </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef> Update </th>
        <td mat-cell *matCellDef="let element"> <button routerLink="../artworks/{{element.id}}" type="button" class="btn btn-danger">Modifier {{element.id}}</button> </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>

  <mat-paginator [length]="resultsLength" [pageSize]="30" [pageSizeOptions]="[15, 30, 50, 100]"></mat-paginator>


</div>
