<div class="row" matchHeight="card">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ 'artgeneve.application_artworks' | translate }}</h4>
      </div>
      <div class="card-body">
        <div class="card-block">
          <ng2-smart-table [settings]="settings" [source]="source"></ng2-smart-table>
          <!-- <ul>
            <li *ngFor="let exhibitor of exhibitors" >
              <span>{{exhibitor.id}}</span> {{exhibitor.org_code}} {{exhibitor.exh_booth}}
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <ul>
  <li *ngFor="let artwork of artworks" >
    <span>{{artwork.id}}</span> {{artwork.title}} {{artwork.technique}}
  </li>
</ul> -->