<!-- <div class="content-header row">
  <div class="content-header-left col-12">
    <h2 class="content-header-title">{{ 'artgeneve.name' | translate }}</h2>
  </div>
</div> -->
<router-outlet></router-outlet>

<!-- <div class="row" matchHeight="card">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">{{ 'artgeneve.name' | translate }}</h4>
      </div>

    </div>
  </div>
</div> -->
      <!-- <div class="card-body">
        <div class="card-block">
            <nav>
              <a routerLink="./exhibitors">{{ 'artgeneve.exhibitor' | translate }}</a>
              <a routerLink="./art-represented">{{ 'artgeneve.represented_artists' | translate }}</a>
              <a routerLink="./art-exhibited">{{ 'artgeneve.exhibited_artists' | translate }}</a> 
              <a routerLink="./artworks">{{ 'artgeneve.application_artworks' | translate }}</a>
              <a routerLink="./galeries" routerLinkActive="active">{{ 'artgeneve.gallery' | translate }}</a>
            </nav>
        </div>
      </div> -->
    <!-- <h1>
        
      </h1>
    <nav>
      <a routerLink="./exhibitors">{{ 'artgeneve.exhibitor' | translate }}</a>
      <a routerLink="./art-represented">{{ 'artgeneve.represented_artists' | translate }}</a>
      <a routerLink="./art-exhibited">{{ 'artgeneve.exhibited_artists' | translate }}</a> 
      <a routerLink="./artworks">{{ 'artgeneve.application_artworks' | translate }}</a>
      <a routerLink="./galeries" routerLinkActive="active">{{ 'artgeneve.gallery' | translate }}</a>
    </nav>
    <router-outlet></router-outlet> -->