<!--<p>-->
	<!--{{ 'artgeneve.exhibitor' | translate }}-->
<!--</p>-->
<!--<ul class="exhibitors">-->
  <!--<li *ngFor="let exhibitor of exhibitors">-->
    <!--<a routerLink="../exhibitors/{{exhibitor.id}}">-->
      <!--<span class="badge">{{exhibitor.id}}</span> org: {{exhibitor.org_code}} - booth: {{exhibitor.exh_booth}}-->
    <!--</a>-->
    <!--<button class="delete" title="delete exhibitor"-->
      <!--(click)="delete(exhibitor)">x</button>-->
  <!--</li>-->
<!--</ul>-->


{{ 'artgeneve.name' | translate }}

<div class="example-container mat-elevation-z8">

<div class="example-table-container">


<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->


  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="org_code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Org code </th>
    <td mat-cell *matCellDef="let element"> {{element.org_code}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="exh_booth">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Booth </th>
    <td mat-cell *matCellDef="let element"> {{element.exh_booth}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="exh_id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Exhibitor ID </th>
    <td mat-cell *matCellDef="let element"> {{element.exh_id}} </td>
  </ng-container>


  <!-- Symbol Column -->
  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
    <td mat-cell *matCellDef="let element"> <button (click)="delete(element)" type="button" class="btn btn-danger">Supprimer {{element.exh_id}}</button> </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>

<mat-paginator [length]="resultsLength" [pageSize]="30" [pageSizeOptions]="[15, 30, 50, 100]"></mat-paginator>


</div>








<!--<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">-->

  <!--&lt;!&ndash;- Note that these columns can be defined in any order.-->
        <!--The actual rendered columns are set as a property on the row definition" &ndash;&gt;-->

  <!--&lt;!&ndash; Position Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="position">-->
    <!--<th mat-header-cell *matHeaderCellDef> No. </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.id}} </td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Name Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="name">-->
    <!--<th mat-header-cell *matHeaderCellDef> Name </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.org_code}} </td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Weight Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="weight">-->
    <!--<th mat-header-cell *matHeaderCellDef> Weight </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.exh_booth}} </td>-->
  <!--</ng-container>-->

  <!--&lt;!&ndash; Symbol Column &ndash;&gt;-->
  <!--<ng-container matColumnDef="symbol">-->
    <!--<th mat-header-cell *matHeaderCellDef> Symbol </th>-->
    <!--<td mat-cell *matCellDef="let element"> {{element.exh_id}} </td>-->
  <!--</ng-container>-->

  <!--<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>-->
  <!--<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>-->
<!--</table>-->
