<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ 'sdl.name' | translate }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ 'sdl.animation' | translate }}</h6>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">

  <div class="card">
    <div class="card-body">
      <div class="form-container" *ngIf="animation">


        <!-- Animation ID -->
        <mat-form-field *ngIf="isSuperUser">
          <input matInput disabled placeholder="Animation id" [(ngModel)]="animation.id">
        </mat-form-field>

        <!-- Animation title -->
        <mat-form-field>
          <input id="title" name="title" #titleInput matInput placeholder="{{'commons.title' | translate}}" [(ngModel)]="animation.title" required maxlength="80">
          <mat-hint align="end">{{ titleInput.value?.length || 0 }}/80</mat-hint>
          <mat-error *ngIf="title.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>


        <!--Types -->
        <mat-form-field>
          <mat-select (selectionChange)="validateType()" placeholder="{{'sdl.type' | translate}} *" [(ngModel)]="selectedType">
            <mat-option *ngFor="let type of types" [value]="type.id">
              {{type.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>


        <!--Public -->
        <mat-form-field>
          <mat-select placeholder="{{'sdl.public'| translate}}" multiple [(ngModel)]="selectedPublic"> <!-- [formControl]="cat_psname" multiple selected="5" -->
            <mat-option *ngFor="let public of publics" [value]="public.id">{{public.title}}</mat-option>
          </mat-select>
        </mat-form-field>

        <!--Locations -->
        <mat-form-field>
          <mat-select placeholder="{{'commons.location' | translate}} *" [(ngModel)]="selectedLocation">
            <mat-option *ngFor="let location of locations" [value]="location.id">
              {{location.title}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!--Description -->
        <mat-form-field *ngIf="showDescAnimation">
          <textarea #descInput matInput placeholder="{{'commons.description' | translate}} *" [(ngModel)]="animation.description" maxlength="200">{{animation.description}}</textarea>
          <mat-hint align="end">{{ descInput.value?.length || 0 }}/200</mat-hint>
        </mat-form-field>


        <!-- Exhibitor -->
        <mat-form-field>
          <mat-select placeholder="{{'commons.exhibitor' | translate}} *" [(ngModel)]="selectedExhibitor" [(ngModel)]="selectedExhibitor">
            <mat-option *ngFor="let exhibitor of exhibitors" [value]="exhibitor.id">
              {{exhibitor.exhibitor.exh_account_name}} [{{exhibitor.exhibitor.cat_banner}}]
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Author -->
        <mat-form-field class="example-full-width" *ngIf="!isNewAuthorBlockVisible">
          <input id="input-authors" matInput placeholder="{{'sdl.authors' | translate}}" aria-label="Authors" [matAutocomplete]="auto" [formControl]="authorControl">
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setAuthor($event)" md-search-text="authorControl.searchText">
            <mat-option *ngFor="let author of filteredAuthors | async" [value]="author.id" >
              <!--<img class="example-option-img" aria-hidden [src]="BACKEND_URL+author.thumbnail" height="50">-->
              <small>{{author.first_name}}</small><span> {{author.last_name}}</span>
            </mat-option>
            <mat-option *ngIf="(filteredAuthors | async)?.length == 0">
              <!--<img class="example-option-img" aria-hidden [src]="BACKEND_URL+author.thumbnail" height="50">-->
              <span>Ajouter un auteur</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>


        <div class="form-container add-author" *ngIf="isNewAuthorBlockVisible">
          <h5>{{'sdl.new_author' | translate}}</h5>

          <!-- Author first_name -->
          <mat-form-field>
            <input matInput placeholder="{{'commons.firstname' | translate}} *" [(ngModel)]="newAuthor.first_name">
          </mat-form-field>

          <!-- Author last_name -->
          <mat-form-field>
            <input matInput placeholder="{{'commons.lastname' | translate}} *" [(ngModel)]="newAuthor.last_name">
          </mat-form-field>

          <!-- Author job -->
          <mat-form-field>
            <input matInput placeholder="{{'commons.job' | translate}} *" [(ngModel)]="newAuthor.job">
          </mat-form-field>

          <!-- Author copyright -->
          <mat-form-field>
            <input matInput placeholder="copyright" [(ngModel)]="newAuthor.copyright">
          </mat-form-field>

          <!--&lt;!&ndash; Author image &ndash;&gt;-->
          <!--<mat-form-field>-->
            <!--<input matInput placeholder="{{'commons.image' | translate}} *" [(ngModel)]="newAuthor.image">-->
          <!--</mat-form-field>-->

          <!-- Picture -->
          <app-fileupload *ngIf="animation.author" [fileUploadLimit]="1" [rattachedInstanceId]="newAuthor.id" [fieldToUpdate]="image" (authorIdReturned)="getAuthorIdFromFileUpload($event)"></app-fileupload>

          <div class="button-row">
            <button mat-raised-button color="primary" (click)="addAuthor()">{{'commons.register' | translate}}</button> <button mat-raised-button color="warn" (click)="hide_new_author_block()">{{'commons.cancel' | translate}}</button>
          </div>

        </div>



        <div>
          <div class="author" *ngFor="let displayedAuthor of displayedAuthors">
            <img class="example-option-img" [src]="BACKEND_URL+displayedAuthor.thumbnail" height="50" *ngIf="displayedAuthor.thumbnail">
            {{displayedAuthor.first_name}} {{displayedAuthor.last_name}} <span (click)="alterAuthor(displayedAuthor)">[Modifier]</span> <span (click)="deleteAuthor(displayedAuthor)">[Supprimer]</span>
          </div>
        </div>

        <!-- Speakers -->
        <div *ngIf="showSpeakers">
          Add Speakers
        </div>

        <!--<mat-form-field class="example-full-width">-->
          <!--<input matInput placeholder="State" aria-label="State" [matAutocomplete]="auto" [formControl]="stateCtrl">-->
          <!--<mat-autocomplete #auto="matAutocomplete">-->
            <!--<mat-option *ngFor="let state of filteredStates | async" [value]="state.name">-->
              <!--<img class="example-option-img" aria-hidden [src]="state.flag" height="25">-->
              <!--<span>{{state.name}}</span> |-->
              <!--<small>Population: {{state.population}}</small>-->
            <!--</mat-option>-->
          <!--</mat-autocomplete>-->
        <!--</mat-form-field>-->

        <div>
          <!-- Animation date -->
          <mat-form-field style="margin-right:20px;">
            <input id="input-calendar" matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" [(ngModel)]="selectedDate" (keyup.enter)="addSchedule()" placeholder="Choose a date"> <!-- (dateChange)="selectDate($event)"  -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- Animation time -->
          <mat-form-field style="margin-right:20px;">
            <input matInput type="time" (click)="openTime('start')" atp-time-picker value="{{selectedHourStart}}" placeholder="{{'commons.timeStart' | translate}} *"/>
          </mat-form-field>
          
          <!-- Animation time -->
          <mat-form-field style="margin-right:20px;">
            <input matInput type="time" (click)="openTime('end')" atp-time-picker value="{{selectedHourEnd}}" placeholder="{{'commons.timeEnd' | translate}} *"/>
          </mat-form-field>

          <!-- Animation add date -->
          <!-- <button mat-stroked-button color="primary" (click)="addSchedule()">{{'commons.add' | translate}}</button> -->
          <button mat-stroked-button color="primary" (click)="addSchedule2()">{{'commons.add' | translate}}</button>
        </div>
        <mat-error *ngIf="showErrorTime">{{errorTime}}</mat-error>

        <!-- Animation dates selected -->
        <table mat-table [dataSource]="dataSchedules" class="mat-elevation-z8">
          
          <!-- Actios Column -->
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> {{'commons.action' | translate}} </th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="./{{element.id}}"> <i class="ft-edit-2 info font-medium-1 mr-2"></i> </a>
              <i class="ft-x danger font-medium-1 mr-2" (click)="deleteSchedule2(element)"></i>
            </td>
          </ng-container>

          <!-- Date Column -->
          <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date_start | date:'MMM d, y'}} </td>
          </ng-container>

          <!-- Start time Column -->
          <ng-container matColumnDef="start_hour">
            <th mat-header-cell *matHeaderCellDef> Start Time </th>
            <td mat-cell *matCellDef="let element"> {{element.date_start | date:'HH:mm'}} </td>
          </ng-container>

          <!-- End time Column -->
          <ng-container matColumnDef="end_hour">
            <th mat-header-cell *matHeaderCellDef> End Time </th>
            <td mat-cell *matCellDef="let element"> {{element.date_end | date:'HH:mm'}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsSchedules"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsSchedules;"></tr>
        </table>


        <div>
          <div class="datetime" *ngFor="let displayedSchedule of displayedSchedules">
            {{displayedSchedule.date | date:'MMM d, y' }}
            {{displayedSchedule.hour_start }}
            {{displayedSchedule.hour_end }} <span (click)="deleteSchedule(displayedSchedule)">[Supprimer]</span>
          </div>
        </div>

        <div>
          <a (click)="goBack()" mat-stroked-button color="basic">{{'commons.go_back'| translate}}</a>
          <a mat-raised-button color="primary" (click)="save_and_add_new()">{{'commons.save_and_add_new' | translate}}</a>
          <a mat-raised-button color="primary" (click)="save()">{{'commons.save' | translate}}</a> <!-- (click)="save()" -->
        </div>

        <!--<div><span (click)="">[add date]</span></div>-->

      </div>
    </div>
  </div>
</div>
