<!-- <h1>
  {{ 'catalogue.title' | translate }}
</h1> -->
<h1>
    {{ 'artmontecarlo.name' | translate }}
  </h1>
<nav>
  <a routerLink="./exhibitors">{{ 'artmontecarlo.exhibitor' | translate }}</a>
  <a routerLink="./art-represented">{{ 'artmontecarlo.represented_artists' | translate }}</a>
  <a routerLink="./art-exhibited">{{ 'artmontecarlo.exhibited_artists' | translate }}</a>
  <a routerLink="./artworks">{{ 'artmontecarlo.application_artworks' | translate }}</a>
  <a routerLink="./galeries" routerLinkActive="active">{{ 'artmontecarlo.gallery' | translate }}</a>
</nav>
<router-outlet></router-outlet>

<!--
<nav>
  <a routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Dashboard</a>
  <a routerLink="./exhibitors" routerLinkActive="active">Manage Crises</a>
  <a routerLink="./artworks" routerLinkActive="active">Manage Heroes</a>
</nav>
<router-outlet></router-outlet> -->
