<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ 'catalogue.title' | translate }}
  </h1>
</div>
<p>{{ 'catalogue.hello' | translate:{'name':'Oscar'} }}</p>
<button (click)="useLanguage('en')">en</button>
<button (click)="useLanguage('de')">de</button>
<button (click)="useLanguage('fr')">fr</button>
<nav>
	<a routerLink="/dashboard">Home</a>
  <a routerLink="/artgeneve">Artgenev</a>
<!--      Router ArtGeneve 
  <a routerLink="/exh-artgeneve">Exhibitor</a>
  <a routerLink="/art-represented">Represented artists</a>
  <a routerLink="/art-exhibited">Exhibited artists</a>
  <a routerLink="/artworks">Application Artworks</a>
  <a routerLink="/galeries">Gallery</a> -->
  
  
</nav>
<router-outlet></router-outlet>



