<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title">{{ 'artgeneve.name' | translate }}</h4>
      <h6 class="card-subtitle mb-2 text-muted">{{ 'artgeneve.exhibitor' | translate }}</h6>
    </div>
  </div>
</div>

<div class="mat-elevation-z8">
  <div class="card">
    <div class="card-body">

      <div class="form-container">

        <!-- Booth --> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Booth" [(ngModel)]="exhibitor.exh_booth">
        </mat-form-field>

        <!-- Banner --> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Banner" [(ngModel)]="exhibitor.cat_banner">
        </mat-form-field>

        <!-- Email --> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" [(ngModel)]="exhibitor.cat_email">
        </mat-form-field>

        <!-- Phone --> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Phone" [(ngModel)]="exhibitor.cat_phone">
        </mat-form-field>

        <!-- Validation --> 
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Validation" [(ngModel)]="exhibitor.exh_status">
        </mat-form-field>
        
        <button (click)="goBack()">go back</button>
        <button (click)="save()">save</button>
        
      </div>
    </div>
  </div>
</div>
